extends ../layout/main

block css-links
	link(rel="stylesheet" href="/css/store.css")

block content
	.container
		.row
			.col-md-7
				.product-info
					.gallery
						.scroller
							each img in product.images 
								.slide 
									img(src=img alt="")
						button.previous &#10094;
						button.next &#10095;

			.col-md-5.col-sm-12
				.product-details.container
					h2= product.name
					form(action="" method="POST")#cart-form.functionality.py-2 
						input(type="hidden" name="item" value=product.id)
						input(type="hidden" name="name" value=product.name)
						.colors.py-1
							p(style='font-size:1.4em;font-weight: bold') Colors
							.d-flex.col-sm-10
								each color in product.colors
									label.color
										input(type="radio" name="color" value=color required)
										| #{color.toUpperCase()}

						.sizes.py-1
							p(style='font-size:1.4em;font-weight: bold') Sizes
							.d-flex.flex-wrap.col-sm-10
								each size in product.sizes
									label.size
										input(type="radio" name="size" value=size[1] required)
										| #{size[0].toUpperCase()}

						.d-flex.py-3.justify-between
							p.f-2.price= "\u20a6" + product.price
							button(type='submit')#add-to-cart-btn.add-to-cart <i class='fa fa-cart-plus'></i> Add to Cart 

					//- p.details Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae porro accusamus nam temporibus at. Iste dignissimos molestiae molestias reprehenderit modi at, fuga nulla quaerat fugit ut laboriosam? Ipsum, et dignissimos.Ullam molestias doloribus at accusantium qui, ipsam sit rem, aperiam odit nesciunt porro ipsum enim in facilis consequuntur, ex consequatur quidem aspernatur numquam blanditiis? Ex praesentium delectus aspernatur odit provident.

block scripts 
	script(src="/js/slide.js")
	script(src="/js/cart.js")
